body {
    background-color: #121212; 
    color: #e0e0e0; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #f29136; 
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 70%;
    max-width: 375px;
    margin-right: 10px;
    background-color: #1e1e1e; 
    color: #e0e0e0; 
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #6200ea; 
    color: #ffffff; 
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {     
    background-color: #3700b3;    
}

#taskList {
    margin-top: 20px;
    width: 500px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #1e1e1e; 
    border-radius: 5px;
}

.task span {
    flex: 1; 
}

.task button {
    margin-left: 10px;
}
